.sign-in-container {
  height: unquote('Calc(100vh - 65px)');
  display: grid;
  justify-items: center;
  align-items: center;
}

.sign-in-form {
  padding: 1.0em;
}

.mat-tab {
  padding: 10em;
}

.sign-in-tab-content {
  padding: 1em !important;
}

.mat-tab-body {
  padding: 1em !important;
}

.mat-tab-body-wrapper {
  padding: 1.0rem;
}


.sign-in-card-form-field {
  width: 100%;
}

.card-actions {
  padding: 8px 8px;
  margin-bottom: 0;
}
