<div class="sign-in-container">
  <mat-tab-group mat-stretch-tabs backgroundColor="primary" color="accent" class="mat-elevation-z2">
    <mat-tab label="Login">
      <form [formGroup]="loginForm" *ngIf="loginForm" class="sign-in-form">
        <mat-form-field class="sign-in-card-form-field">
          <input matInput placeholder="Email" formControlName="email">
        </mat-form-field><br>
        <mat-form-field class="sign-in-card-form-field">
          <input matInput placeholder="Password" formControlName="password">
        </mat-form-field>
        <mat-card-actions class="card-actions" fxLayoutAlign="flex-end">
          <button mat-raised-button color="accent" [disabled]="!isValid()" (click)="signIn()">SIGN IN
          </button>
        </mat-card-actions>
      </form>
    </mat-tab>
    <mat-tab label="Register">
      <form [formGroup]="loginForm" *ngIf="registerForm" class="sign-in-form">
        <mat-form-field class="sign-in-card-form-field">
          <input matInput placeholder="Email" formControlName="email">
        </mat-form-field><br>
        <mat-form-field class="sign-in-card-form-field">
          <input matInput placeholder="Password" formControlName="password">
        </mat-form-field>
        <mat-card-actions class="card-actions" fxLayoutAlign="flex-end">
          <button mat-raised-button color="accent" [disabled]="!isValid()" (click)="register()">Register
          </button>
        </mat-card-actions>
      </form>
    </mat-tab>
  </mat-tab-group>
</div>
