/* You can add global styles to this file, and also import other style files */

$body-bg: #f9f9fa;
$body-color: #1c1817;
$primary: #223e5a;
$warning: #E4572E;


@import '~bootstrap/scss/bootstrap';

html, body {
  padding:0;
  margin:0;
}
